# Visual Studio C++ cache files
ipch/
/.vs
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio Debug files
x64/**

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# MacOS store files
*.DS_Store
